body {
  background-color: #222;
  color: white;

}

#root {
  padding-top: 70px;
  padding-bottom: 70px;
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  height: 100px;
}

input.form-control {
  background-color: #222;
  color: #fff;
  border-color: #222;
  border-bottom-color: #fff;
  border-radius: 0;
  text-align: center;

  &:focus {
    background-color: #222;
    color: #fff;
  }
}

button.btn.btn-custom {
  background-color: #222;
  border-color: #fff;
  color: #aaa;

  &:hover {
    background-color: #333;
    color: #fff;
  }
}

button.btn.btn-link {
  color: #222
}

.hover-pointer:hover {
  cursor: pointer;
}

a {
  color: #E59400;

  &:hover {
    color: #E59400;
  }
}
